<h1><%= t('views.common.login') %></h1>

<% form_tag session_path do -%>
<p><%= label_tag(t('views.common.username')) %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag(t('views.common.password')) %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= submit_tag(t('views.common.login_verb')) %></p>
<% end -%>
